@model IEnumerable<Bookstore.Models.Book>
@*@await Component.InvokeAsync("AuthorNames")*@
<div class="container">
    <div class="three" style="background-color:white; margin-left:100px; margin-right:0px; position:static; margin-top:3px; width:112%; height:135%; display:inline-block; ">
        <div class="row" style="background-color:white; ">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-md-3">
                    <div  style=" max-width:200px; max-height:250px; margin:1px 10px 55px 1px;
                                  float:left; background-color:antiquewhite">
                        <a href="Details/@item.Id" target="_blank">
                            <img src="~/uploads/@item.ImageUrl" height="200" width="190">  @*height="242"  width="200"*@
                        </a>
                        
                        <div class="caption" style="margin-top:-12px">
                           <p style="text-align:center; padding-top:20px">@item.Title</p>
                            @*<p style="padding-left:50px;padding-top:10px;">@Html.ActionLink("Details", "Details", new { id = item.Pno }, new { @class = "btn btn-default" }) </p> *@
                           
                        </div>
                    </div>
                </div>
            }
        </div>
        @* class="thumbnail" *@
    </div>
</div>